body{
    font-family: 'Kanit', sans-serif;
}
h1{
    font-size: 200%;
}
.name{
    color: orangered;
}
section{
    display: flex;
}

.half-width{
    width: 50% ;
    padding-left: 2%;


}
.half-width img{
    width: 80%;  
}

.link-button{
    text-decoration: none;
    background-color: orangered;
    padding: 10px 40px;
    border-radius: 5px;
    background-image: -moz-linear-gradient(orange,tomato);
    color:white;
    font-weight: 700;
}